
img{
    max-width: 80%;
    margin: 5px;
    border-radius: 15px;
    
}

.verde{
    background-color: green;
}

#reload{
    margin: 5px;
    max-width: 100px;
    border-radius: 10%;
    border: 0px;
    
}

#clock{
    font-size: 28px;
    font-family: monospace;
}